demo/Schemas/.Ldap/OutputCreateOperations.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns:tns="http://www.tibco.com/xmlns/ldap/cloud/resource/output/create" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.tibco.com/xmlns/ldap/cloud/resource/output/create" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="ActivityOutput" type="tns:ActivityOutputType"/>
    <complexType name="ActivityOutputType">
        <sequence>
			<element maxOccurs="1" minOccurs="0" name="id" type="string"/>
        </sequence>
    </complexType>
</schema>
